.photo {
    height: 300px;
    width: 300px;
}

.photohome {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.rootnotfound {
    width: '100vw';
  }

.rootdetail {
    display: 'flex';
    flexWrap: 'wrap';
    justifyContent: 'center';
}
.mediadetail {
    display: 'flex';
    flexWrap: 'wrap';
}